<tr style="border: 1px solid black"><td style="border: 1px solid black; padding: 5pt 5pt"><%= event_line.created_at %></td><td style="border: 1px solid black; padding: 5pt 5pt"><%= event_line.note %></td></tr>
