<div id="reg-list-table">
<table>
  <thead>
  <tr>
    <td  class="reg-list-table-heading-cell">Email</td>
    <td  class="reg-list-table-heading-cell">Name</td>
    <td  class="reg-list-table-heading-cell">Amount</td>
    <td  class="reg-list-table-heading-cell">Date</td>
    <td  class="reg-list-table-heading-cell">View Reg</td>
  </tr>
  </thead>
  <tbody>
    <%= render(:partial => "online_payment", :collection => @payments) %>
  </tbody>
</table>
</div>
