<div id="main">
  <table id="admin-index-table">
    <tr>
      <td class="bordered">Download Payments file<%= button_to "GO", admin_payments_path(:txt), method: :get %></td>
    </tr>
    <tr>
      <td class="bordered">Download Registrations file<%= button_to "GO", admin_registrations_path(:txt), method: :get %></td>
    </tr>
  </table>
</div>

