<h2>Finished sending <%= @sent_without_password.size %>!</h2>
<ul>
<li>Sent Without Password:
	<ul>
	<% @sent_without_password.each do |email| %>
		<li> <%= email %></li>
	<% end %>
	</ul>
</li>
<li>Skipped:
	<ul>
	<% @skipped.each do |email| %>
		<li> <%= email %></li>
	<% end %>
	</ul>
</li>
</ul>


