<table class="reg-form-section">
  <tr>
    <td>
      <% if @submit_text %>
      <center><%= submit_tag @submit_text, :class => "reg-form-button" %></center>
      <% end %>
    </td>
  </tr>
</table>

