<% if text %>
  <td class="bordered", width="50%"><%= text %>
  <p/>
  <% if action %>
    <% if local_assigns.has_key? :dispatch_method %>
       <%= button_to "GO", {:action => action}, {:method => dispatch_method}} %>
    <% else %>
       <%= button_to "GO", :action => action %>
    <% end %>
  <% else %>
    <%= button_tag "NO" %>
  <% end %>
  </td>   
<% else %>
  <td class="bordered", width="50%">
  </td>
<% end %>


