<td id="reg-form-left"><%= render :partial => "reg_form_row_3_left", :locals => {:form => form} %></td>
<td id="reg-form-right"><%= render :partial => "reg_form_row_3_right", :locals => {:form => form} %></td>



