<div id="reg-form-main">
This page will have an email, and a captcha.
The submit will look for a user with that email, and if so will change the
password, and if not will create a new user with that email and send the
new password.
 </div> <!-- reg-form-container -->