Dear <%= @name %>,

<p>We are writing to remind you that your balance for MMR <%= Year.this_year %> is due 
on June 1.</p>

<p>Our records show that your current balance amount is <%= number_to_currency(@balance) %>.
<br/>If you have already paid your balance, please disregard this reminder.</p>

<ul>
<li> You can pay your balance online by visiting our 
<a href="http://home.mmr-registration.org/registration"> our registration page</a></li>
<li> If you choose to pay by mail
<ul>
<li>Please send your payment to:
	<ul>
	  <li>Jessica Croysdale, MMR Registrar<br/>
	    5793 NW Central Dr. Apt B301<br/>
	    Portland, OR 97229<br/>
	</li>
	</ul>
</li>
</ul>
<li> Make check payable to </i>Midsummer Musical Retreat</i></li>
<li> If you have questions or need to give us more information
about your registration
<ul>
<li>send email to <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a> or </li>
		<li>call us at 1-800-471-2419</li>
		</ul></li>
	</ul>
</ul>

<p>We look forward to seeing you at MMR <%= Year.this_year %>.</p>
