<p>
Greetings, Friend of MMR and Early Adopter
</p>

<p>
I would like to get your help in testing the MMR online registration for this year.  There are no big changes to the system this year, but it's always good to test.  And you get to register early!
</p>

<p>
Please go to <a href="http://home.mmr-registration.org/registration/index">http://home.mmr-registration.org/registration/index</a> to try it out. 
</p>

<p>
The first screen you see will have a <b>Log In</b> button but no register now button.  If you log in it will recognize your email and give you the <b>Register Now</b> button.
</p>

<p>
This will be live registration, so your registration and online payment will count.
</p>

<p>
There is no button for self-evaluation yet;  we will do that in March.
</p>

<p>
Please let me know <a href="mailto:hanks@pobox.com">hanks@pobox.com</a> if you have any problems.
We are on target for opening registration to all by January 1.
</p>

Many thanks!<br/>
Steve.
