<p>
Greetings, friend of MMR and early adopter!
</p>

<p>
I would like to get your help in testing the MMR online registration for this year.  There are no big changes to the system this year, but it's always good to test.  And you get to register early!
</p>

<p>
Please go to <a href="http://home.mmr-registration.org/registration">http://home.mmr-registration.org/registration</a> to try it out. 
</p>

<p>
At first the Register Now button (top left) will be disabled.  If you first log in (bottom left button) you will then be able to register.
</p>

<p>
This will be live registration, so your registration and online payment will count.
</p>

<p>
Please let me know <a href="mailto:hanks@pobox.com">hanks@pobox.com</a> if you have any problems.
We are on target for opening registration to all by January 1.
</p>

Many thanks!<br/>
Steve.
