Dear <%= @name %>,

<p>
We are writing to remind you that you have not yet completed the online evaluation/ensemble selection form for MMR <%= Year.this_year %>.
You must complete your application by June 1.  
Please do so as soon as possible so we can help if there are any problems.  We want to make your week at Midsummer as satisfying as possible.
</p>

<p>
You can access the instructions and form using 
<a href="http://musicalretreat.org/self-evaluation-and-ensembleelective-preferences">this link</a>.
You will need to access your account using the same email and password you used to register.
You will not be able to use a touchscreen device to fill out the evaluation forms.
</p>

<p>
Filling out the choices and forms should take no more than ten minutes, but you need to finish the forms in one session, otherwise you 
must start over.   Your selections are not complete until you complete these steps
<ul>
<li>arrive at the <i>Ensemble Preference Summary</i> page, then
<li>check the box saying you have read and acknowledged the Waiver and Release form, then
<li>push the FINISH button.
</ul>
You will then be returned to the main registration page and you will see the message <i>Ensemble and elective choices complete</i>.  
You will also see a button allowing you to review your evaluation selections, and you can also start over and fill out the forms 
again if you want.
</p>

<p>
We are sending this message only to those campers for which we have no completed evaluation form.  It is possible that 
you partially filled out the form but did complete the process.  If so, you will need to fill out the form again, please make 
sure you complete the form fully as per the instructions above.
</p>

<p>
Please send email to <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a> or 
<a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> if you have trouble.
</p>

