Dear MMR Faculty Member,
<p>
As you probably know, MMR faculty will register online this year to make it easier to manage dorm and meal assignment, T-Shirt and wine glass orders, etc.
</p>

<p>
Here's how it will work for you.
<ul>
<li> We have already set up on online account for you using the email address that received this message.
<i>You must register using this email address in order to get the faculty rate.</i> </li>
<li> You first go to the <a href = "http://home.mmr-registration.org/registration">main registration page
and ask for a password change using &quot;Forgot Password; Send New Password by Email&quot;.  (I know you didn't
actually forget your password since you never knew it in the first place, but I'm too lazy to change the button.) </li>
<li> Return to the site and either change your password or use the one in the email message, and use the &quot;Register Now&quot; button. </li>
<li> You should see no charges in the shopping cart.  If you do, <a href="mailto:webmaster@musicalretreat.org">let me know</a> but it's likely because you're using the wrong email address so I will only scold you. </li>
<li> Make your dorm and room selection, and also donation, T-Shirt, and wine glass order</li>
<li> You should only be charged for the following items:
  <ul>
    <li>Single room charge if you request it</li>
    <li>T-Shirts in excess of one (you get one free!)</li>
    <li>Wine glasses</li>
    <li>Donation</li>
    </ul>
</li>
<li> In the middle of the form you will see a selection Participant or Non-Participant.  Please select non-participant.
Yes we know you will actually be participating, but if you check participant and select and instrument or voice, you will 
have to do a self-evaluation.  Since you probably will be reading the evaluations for your voice/instrument it means you
would be evaluating yourself, which might be awkward especially if you lied in filling out the evaluation.  So let's just avoid that.
</li>
<li>You will get a confimation email immediately after completing the registration;  you can check back on the site and 
view your registtion to see if we processed any payment.
<ul>
<li>You may pay online using a credit card or by a check sent by postal mail to:</p>
<p>&nbsp;&nbsp;&nbsp;Jessica Stittsworth, MMR Registrar<br>
&nbsp;&nbsp;&nbsp;18775 NW Ukiah St.,<br/>&nbsp;&nbsp;&nbsp;Portland, OR 97229<br>
</li>
</ul></li>
<li>You may access your account to check your balance at any time using your email and password.</li>
</ul>

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a>  (Jessica)   or call 1-800-471-2419 between 9AM and 9PM PST</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

