<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

<p>
The Board and Staff of Midsummer Musical Retreat invite you to register online for MMR <%= @year %>. 
</p>

<p>
The online system is designed to save paper and staff time.   We will be happy to help you through the process.  
Complete details about the program and faculty are on <a href="http://musicalretreat.org">our website</a>.
</p>

<p>
You can access online registration from the 
<a href="http://registration.musicalretreat.org/registration/index">Registration Home Page</a>
</p>

<p>
Emails will be sent to you from <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a>.
Please set your email filter to accept this address.
</p>

<p>
Your email address will be your personal ID.
You will need to keep track of your email and password to access your account information online.
Registration will be open from January 15 to February 15, <%= @year %>.
</p>

<p>
If you registered online last year, go to the 
<a href="http://registration.musicalretreat.org/registration/index">registration home page</a>
and log in using 
your email and password from last year. If you have forgotten your password, you may request a new one.
You will not be able to complete the registration form until January 15, 
but you can visit the site and change your password immediately, if you choose to do so.
</p>

<p>
If this is your first year to register online, you will need to set up an account. 
You will not be able to complete the registration form until January 15, but you can visit the 
site and establish your ID and password immediately, if you choose to do so.  Please follow the following steps:
<ul>
<li> Go to the <a href="http://registration.musicalretreat.org/registration/index">registration home page</a>
<li>Click on &quot;Create New Account,&quot; and enter your email. Confirm it by re-typing as indicated</li>
<li>A temporary password will be sent to your email address</li>
<li>You may immediately return to the registration site and change the password.  
Please be sure to copy in your temporary password exactly, 
including all dashes, 
and making sure you type upper case and lower case letters exactly as they appear in the email</li>
<li>When registration opens on January 15 you will use that email and password to register</li>
</ul>
</p>
<p>
You may pay online using a credit card or by a check sent by postal mail to:</p>
<p>&nbsp;&nbsp;&nbsp;Jessica Croysdale,  MMR Registrar<br>
&nbsp;&nbsp;&nbsp;12639 NW Ally Elizabeth Ct., <br/>&nbsp;&nbsp;&nbsp;Portland, OR 97229<br>
</p>

<p>You may access your account to check your balance at any time using your email and password.</p>

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:registrar@musicalretreat.org">registrar@musicalretreat.org</a>  (Jessica)   or call 1-800-471-2419 between 9AM and 9PM PST</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

