<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

MMR 2014 On-line Registration will be delayed until January 15, 2014

Our online registration has needed more work than expected to be updated for the coming Retreat.  
To avoid "rollout" problems, we are delaying registration for a few days.

Online registration will open Jan. 15, 2014.  When the system is running you will receive an 
invitation by email so you can access your account using your email address and password, and reset
your password if necessary.

*  PDF for mail-in registrations will be posted 1/15/14
*  Housing lottery will be delayed to 3/1/15
*  Full fees due June 1, 2014


EMAILS FOR HELP

* midsummer@musicalretreat.org</a> (Gennie)
* registrar@musicalretreat.org</a> (Jessica) or call 1-800-471-2419 between 9AM and 9PM PST
* webmaster@musicalretreat.org</a> (Steve)



