<center>
<p style="font-family:Copperplate, color:#7D1B7E">MIDSUMMER MUSICAL RETREAT</p>
<h2>
<i>The Music Camp for Grown Up Singers &amp; Instrumentalists</i><br>
Orchestra, Band, Chorus, Jazz, Chamber Music
</h2>


<h2>Registration for MMR 2017 will open on January 1</h2>
<h3><a href="http://musicalretreat.org/register-online">http://musicalretreat.org/register-online</a></h3>

<p/><p/>

<h2>Retreat dates are July 31 to August 6, 2017</h2>

<h2>See all program details at <a href="http://www.musicalretreat.org">http://www.musicalretreat.org</a></h2>

<p/><p/>
<h2>Join our email list and send inquiries to <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a></h2>

<p/><p/>

<h2>Stay connected with <a href="https://www.facebook.com/groups/58377542712/">MMR</a>  on <%= image_tag(attachments['facebook_icon.jpg'].url) %></h2>
<h2>Please forward this to your musical friends!</h2

<p/><p/>

<hr>

Stop messages like this?  <%= link_to("Unsubscribe", {controller: 'mass_mail', 
                                                 action: 'unsubscribe', 
                                                 id: @unsubscribe_id, 
                                                 only_path: false}) %>
</center>
