<center>

<%= image_tag(File.read(Rails.root.join("app/assets/images/mmr_logo_email_header.jpg")).url) %>
<p/> <p/>

<h2>Online Registration for MMR 2017 will open on January 1</h2>
<h3><a href="http://musicalretreat.org/register-online">http://musicalretreat.org/register-online</a></h3>

<p/><p/>

<h2>Retreat dates are July 31 to August 6, 2017</h2>
<h2>See all program details at <a href="http://www.musicalretreat.org">http://www.musicalretreat.org</a></h2>

<p/><p/>
<h2>Send inquiries to <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a></h2>

</center>
