<p>
Dear <%= @name %>
</p>

<p>
Earlier today we went you a summary email that incorrectly showed that you had an outstanding balance.
In reality you have a zero balance and no further payment is needed.
</p>

<p>
Sorry for any inconvenience and/or worry!
</p>
