<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

<p><b>SELF EVALUATION AND ENSEMBLE/ELECTIVE PREFERENCE FORMS ARE NOW ONLINE</b></p>

<p>
The online form must be completed by June 1.  This is a hard deadline.  
</p>

<p>
The online process has only four parts (one for Morning Ensemble choice, one for Afternoon Small Ensemble choices, 
one for Elective choices, and one for Self Evaluations). You should be able to complete it in 10 minutes or less.
We strongly recommend  that you read everything carefully as you go along.  There is a text box at the end of the process if you feel 
there are things you want that did not get covered in the form.
</p>

<p>
You will need your login email and password for MMR, but you can reset your password on the registration site if you have forgotten.
You may move back through the form using your browser's BACK button if you need to change something, 
but nothing is saved until you press the FINISH button on the last page.  If you leave the site without 
completing your forms or you want to revise your choices after finishing, you will have to start over.  
You do so by re-visiting the main <a href="http://home.mmr-registration.org/registration">registration page</a>
and there will be an option to clear and restart your Ensemble choices.  
</p>

<p>
<i>The site will not work properly on touchscreen devices like phones or tablets.</i> We have tested the site on both Macs and PCs using the 
Chrome and Internet Explorer browsers.  No guarantees for anything else!  Firefox fans:  for some of our testers it worked
fine;  for others, dropdown menus did not work properly.
</p>

<p>
If you have problems contact us at (800)471-2419 or (206)324-6689 or <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>
</p>

<p>
If you are coming with a pre-arranged group, all group members must designate the same contact person.
The contact person alone will list details about members, repertoire, etc.  
Pre-arranged Ensembles will be prioritized above Elective choices for all members of the group.
</p>

<p>
You will be asked to complete Self Evaluations for all instruments and voices you have indicated that you want to use at MMR in a large ensemble, afternoon ensemble, or elective.
</p>

<p>
Finally, you will see all your choices on a Summary Page. Review them carefully. If you need to change anything, use your browser's BACK button to go back and change things.
Use all the &quot;comments&quot; text boxes to tell us anything else about your expectations for MMR.  
Also, be sure to tell us about any accommodations we can make for any disabilities that impact your participation in the program.
</p>

<p>
To complete the process, read the Liability Waiver and Release and check the box acknowledging your agreement.  
After you click FINISH, your selections and comments are saved and you will have to start the process again to make any changes.
</p>

<a href="http://home.mmr-registration.org/registration">Click here</a> to get started. 

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>  (Gennie)</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

