<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

<p>
This is a reminder that you need to fill out your ensemble choices and self-evaluation for MMR. 
</p>

<p>
To do so please go to the main <a href="http://home.mmr-registration.org/registration">registration page</a>
where you will log on and see the button <b>Self Evaluation / Ensembles / Elective Choices</b>.  It will just take a few minutes, 
and you will feel really good about yourself for getting it out of the way.
</p>

<p>
Remember that if you are coming with a pre-arranged group, you must select a contact person ahead of time.
All group members must designate the same contact person.
The contact person alone will list details about members, repertoire, etc.  Everybody except the contact person will supply the contact person's name and email.
</p>

<p>
On the last page be sure to read the Liability Waiver and Release and check the box acknowledging your agreement, then press the <b>FINISH</b>
button. You will then be returned to the main registration page.  If you don't check the box and press <b>FINISH</b>, your forms will not be 
saved and you will have to start over!
</p>

<p>
If you have problems contact us at (800)471-2419 or (206)324-6689 or <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>
</p>

<a href="http://home.mmr-registration.org/registration">Click here</a> to get started. 

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>  (Gennie)</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

