<% if @first_name %>
Dear <%= @first_name %>,
<% else %>
Greetings from the Midsummer Musical Retreat Registration System:
<% end %>

<p><b>SELF EVALUATION AND ENSEMBLE/ELECTIVE PREFERENCES ARE NOW ONLINE</b></p>

<p>
Midsummer Musical Retreat is adopting an online format to collect your self-evaluation, chamber ensemble plans, and elective preferences.  This is new for us all! 
</p>

<p>
This form must be completed by June 1.  This is a hard deadline.  
The process only has four parts (one for Morning Ensemble choice, one for Chamber Music choices, one for Elective choices, and one for Self Evaluations).  You should be able to complete it in 10 minutes or less.
</p>

<p>You will need to know your login email and password for MMR.  We strongly recommend  that you read everything as you go along.  If at the end  and use the text box at the end to tell us what you really want.
</p>

<p>You may move back through form using your browser's BACK button if you need to change something, 
but nothing is saved until you press the FINISH button on the last page.  If you leave the site without 
completing your forms or you want to revise your choices after finishing, you will have to start over.  
You do so by re-visiting the main <a href="http://home.mmr-registration.org/registration">registration page</a>
and there will be an option to reset your Ensemble choices.  
</p>

<p>
If you have problems contact us at (800)471-2419 or (206)324-6689 or <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>
</p>

<p>
The site will not work properly on touchscreen devices like phones or tablets.
</p>

<p>
If you are coming with a pre-arranged group, all group members must agree on the following things prior to filling out the form:
<ul>
<li>Who is the designated contact person for the group</li>
<li>Whether the group wants one or two coached hours per day</li>
</ul>

<p>The contact person will fill out the names of all members, and also whether or not the group will pre-select music, and if so will need to supply the name of the piece(s).  All other members of the group will simply supply the name and email address of the contact person.
</p>

<p>Pre-arranged Ensembles will be scheduled before Elective choices for any member of the group.
</p>

<p>
You will be asked to complete Self Evaluations for all instruments and voices you have indicated that you want to use at MMR in a large ensemble, chamber group or elective.
</p>

<p>
Finally, you will see all choices on a Summary Page. Review them carefully. If you need to change anything, use your browser.s BACK button to go back and change things.
</p>

<p>
You are encouraged to use the text box to tell us anything else you would like us to know about your expectations for MMR.  Also, be sure to tell us about any accommodations we can make for any disabilities that impact your participation in the program.
</p>

<p>
To complete the process, read the Liability Waiver and Release and acknowledge your agreement.  After you click FINISH, you will have to start the process again to make any changes.
</p>

<a href="http://home.mmr-registration.org/registration">Click here</a> to get started. 

<p>
EMAILS FOR HELP
<ul>
<li> <a href="mailto:midsummer@musicalretreat.org">midsummer@musicalretreat.org</a>  (Gennie)</li>
<li> <a href="mailto:webmaster@musicalretreat.org">webmaster@musicalretreat.org</a> (Steve)</li>
</ul>
</p>

<p>
See you all soon at MMR <%= @year %>, Whitman College, Walla Walla, WA
</p>

