Options -MultiViews
RewriteEngine Off
PassengerResolveSymlinksInDocumentRoot on
#Set this to whatever environment you'll be running in
#RailsEnv production
RailsEnv development
RackBaseURI /
SetEnv GEM_HOME /home1/musical9/ruby/gems
