<% if subject.errors.any? %>
<div id="form-errors">
<table>
<tr>
<td>Please correct the following errors:</td>
</tr>
<tr>
<td>
   <ul>
      <% subject.errors.each do |attr, msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
</td></tr>
</table>
</div>
<% end %>
