<div class='indented-top'>
  <%= form.label :chamber_music_how_often, 'How often to you play chamber music?' %>
<table>
<tr><td>Less than once a week</td><td><%= form.radio_button :chamber_music_how_often, 0 %></td></tr>
<tr><td>Weekly</td><td><%= form.radio_button :chamber_music_how_often, 1 %></tr>
<tr><td>More than once a week</td><td><%= form.radio_button :chamber_music_how_often, 2 %></tr>
</table>
</div>
