<div class='center contact'>
  <% if instrument.instrument_type == "string" %>
    <p>Contact Eileen Swanson if you have questions:  206-525-9343 or <a href="mailto:swansonee@comcast.net">swansonee@comcast.net</a></p>
  <% elsif instrument.instrument_type == "vocal" %>
    <p>Contact Jason Anderson if you have questions:  206-799-5158 or <a href="mailto:andersonjason3@me.com">andersonjason3@me.com</a></p>
  <% else %>
    <p>Contact Dan Williams if you have questions:  206-365-3158 or <a href="mailto:reedroom@comcast.net">reedroom@comcast.net</a></p>
  <% end %>
</div>

