<div class='center contact'>
  <% if instrument.instrument_type == "string" %>
    <p>Contact Thane Lewis if you have questions:  206-363-3903 or <a href="mailto:thanemail33@gmail.com">thanemail33@gmail.com</a></p>
  <% elsif instrument.instrument_type == "vocal" %>
    <p>Contact Jason Anderson if you have questions:  206-799-5158 or <a href="mailto:andersonjason3@me.com">andersonjason3@me.com</a></p>
  <% else %>
    <p>Contact Dan Williams if you have questions:  206-365-3158 or <a href="mailto:reedroom@comcast.net">reedroom@comcast.net</a></p>
  <% end %>
</div>

