Groups I play with during the year:
<br>
<%= form.text_area :groups, :rows => 5, :columns => 40 %>
<p/>
Do any of these groups require an audition? <br>
<%= form.check_box :require_audition %></td></tr>
