<div>
<table class="eval-table"><tr><td>
<%= form.label :groups, 'Groups I play with during the year:' %>
</br>
<%= form.text_area :groups, :rows => 5, :cols => 60 %>
</div>
<div>
<%= form.label :require_audition, 'Do any of these groups require an audition?' %>
<%= form.check_box :require_audition %>
</td></tr>
</table>
</div>
