<div>
<table class="eval-table">
<tr><th colspan="1"><%= form.label :groups, 'Groups you play/sing with during the year:' %></th></tr>
<tr><td style="padding-top: 5px"><%= form.text_area :groups, :rows => 2, :cols => 60 %></tr>
<tr><td style="padding-top: 2px; padding-bottom: 2px"><%= form.label :require_audition, 'Do any of these groups require an audition?' %>
<%= form.check_box :require_audition %>
</td></tr>
</table>
</div>
