<table width="100%" class="evaluation-form">
  <tr class="reg-form-section-title">
    <td>
      Evaluation for <%= instrument.display_name %>
    </td>
  </tr>
  <tr>
    <td class="reg-form-column">

      <% if instrument.string? %>
        <%= render partial: "ensemble_steps/string_evaluation", locals: {instrument: instrument, form: form} %>
      <% elsif instrument.brass? || instrument.woodwind? %>
        <%= render partial: "ensemble_steps/wind_evaluation", locals: {instrument: instrument, form: form} %>
      <% else %>
        <%= render partial: "ensemble_steps/percussion_evaluation", locals: {instrument: instrument, form: form} %>
      <% end %>
    </td>
  </tr>
</table>

