<div class='indented-top'>
<table class='eval-table'>
<tr><th class='eval-table' colspan="3">Do you practice alone regularly?</th></tr>
<tr><td>Rarely</td><td>2 or 3 times a week</td><td>4 or more times a week</td>
</tr>
<tr><td><%= form.radio_button :practicing_how_much, 0, :checked => true %></td>
    <td><%= form.radio_button :practicing_how_much, 1 %></td>
    <td><%= form.radio_button :practicing_how_much, 2 %></td>
</tr>
</table>
</div>
