<div class='indented-top'>
<table>
<tr><td colspan="2">Do you practice alone regularly?</td></tr>
<tr><td>Rarely</td><td><%= form.radio_button :practicing_how_much, 0, :checked => true %></td></tr>
<tr><td>2 or 3 times a week</td><td><%= form.radio_button :practicing_how_much, 1 %></tr>
<tr><td>4 or more times a week</td><td><%= form.radio_button :practicing_how_much, 2 %></tr>
</table>
</div>
