<div class='indented-top checkbox-with-relative'>
<table class='eval-table'>
  <tr><th colspan="2">Do you study privately?</th></tr>
  <tr><td>Yes</td><td>No</td></tr>
  <tr>
  <td><%= form.radio_button :studying_privately, true %></td>
  <td><%= form.radio_button :studying_privately, false, {:checked => true} %></td>
  </tr>
  <tr><td colspan="2" style="padding: 10px">For how many years? &nbsp;&nbsp; <%= form.text_field :studying_privately_how_long, :size => 5 %></td></tr>
</table>
</div>
