<li>MMR Assigned chamber ensemble;  you will be playing <%= summary_mmr_chamber_line.instrument.display_name %>.
<% if summary_mmr_chamber_line.string_novice %> You have requested to play a doubled part. <% end %>
<% if summary_mmr_chamber_line.jazz_ensemble %> You have requested a jazz ensemble. <% end %>
</li>
