<li> <%= summary_ensemble_primary_elective_line.rank %>.
     <%= summary_ensemble_primary_elective_line.elective.name %>
     <% if summary_ensemble_primary_elective_line.instrument %>
         (on <%= summary_ensemble_primary_elective_line.instrument.display_name %>)
     <% end %>
</li>
