<% es = evaluation_summary;  ep = es.ensemble_primary %>

<table width="100%" class="admin-reports admin-reports-show space-below border-below">
  <tr class="reg-form-section-title">
    <td>
      Self Evaluation / <%= ep.display_name %> / <%= es.instrument.display_name %>
    </td>
  </tr>
<tr><td>

</td></tr>
</table>
