<table width="100%" class="admin-reports admin-reports-show bottom-margin">
  <tr class="reg-form-section-title">
    <td>
      Self Evaluation / <%= evaluation_summary.ensemble_primary.display_name %> / <%= evaluation_summary.instrument.display_name %>
    </td>
  </tr>
</table>
