<table width="100%" class="admin-reports admin-reports-chose">
  <tr class="reg-form-section-title">
    <td>Self Evals</td>
  </tr>
  <tr>
    <td>
      <%= select('', '', [
        ['Brass', section_index_admin_reports_path(type: 'brass')],
        ['Woodwind', section_index_admin_reports_path(type: 'woodwind')],
        ['Strings', section_index_admin_reports_path(type: 'string')],
        ['Percussion', section_index_admin_reports_path(type: 'percussion')],
        ['Voice', section_index_admin_reports_path(type: 'vocal')],
      ], {prompt: 'Section report'}, {
        class: 'anchor'
      }) %>
      <%= select('', '',
        Elective.all.map { |e|
          [e.name, elective_index_admin_reports_path(e.id)]
        }, {prompt: 'Elective report'}, {
        class: 'anchor'
        }) %>
      <%= link_to prearranged_index_admin_reports_path do %>
        <button>Prearranged report</button>
      <% end %>
    </td>
  </tr>
</table>

