<table width="100%" class="admin-reports admin-reports-chose">
  <tr class="reg-form-section-title">
    <td>Prearranged group report</td>
  </tr>
  <% @prearranged_chambers.each do |prearranged_chamber| %>
  <tr><td>
    <%= render :partial => "reports/_prearranged_chamber_long_summary.html.erb", 
	  locals: { prearranged_chamber: prearranged_chamber, ensemble_primary: prearranged_chamber.ensemble_primary } %>

    <% end %>
  </td></tr>
</table>
