<li> Elective: <%= Elective.find(ensemble_primary_elective_rank.elective_id).name %>
     Instrument <%= ensemble_primary_elective_rank.instrument_id && ensemble_primary_elective_rank.instrument_id > 0 ? Instrument.find(ensemble_primary_elective_rank.instrument_id).display_name : "none" %>
     Rank <%= ensemble_primary_elective_rank.rank %>
</li>
