<p>What other instruments are you bringing to camp?</p>

<% if instrument.percussion? %>
<tr>
<td>I will bring a drum set to MMR if assigned to a jazz combo</td>
<td><%= form.check_box :other_intruments_drum_set %></td>
</tr>
<% end %>
