<h2>This is an instrumental evaluation for <%= instrumental_evaluation.object.instrument.display_name %></h2>
<%= render :partial => "contact_info", :object => instrumental_evaluation %>
<%= render :partial => "overall_assessment", :object => instrumental_evaluation %>
<hr>

