<table>
<tr><td>Have you played in a small jazz ensemble?</td><td><%= form.check_box :jazz_small_ensemble %></td></tr>
<tr><td>Have you played in a Big Band?</td><td><%= form.check_box :jazz_big_band %></tr>
</table>
