What part would you prefer to play
<ul>
<li>In large ensemble? &nbsp;&nbsp;  <%= form.radio_button :large_ensemble_part, 0 %> First&nbsp;&nbsp;<%= form.radio_button :large_ensemble_part, 1 %>
&nbsp;&nbsp; Second</li>
<li>In chamber ensembles? &nbsp;&nbsp;  <%= form.radio_button :chamber_ensemble_part, 0 %> First&nbsp;&nbsp;<%= form.radio_button :chamber_ensemble_part, 1 %>
&nbsp;&nbsp; Second</li>
</ul>

