<h2>Prearranged Chamber</h2>
<%= form_for :prearranged_chamber do |form| %>
  <%= form.hidden_field :ensemble_primary_id, :value => @ensemble_primary.id %>
  <%= form.select :instrument_id_1, Instrument.menu_selection, :default => @ensemble_primary.registration.instrument_id %>
<% end %>

