<p><%= render :partial => "contact_info", :locals => {:instrument => instrument, :form => form} %></p>
<hr>

<% if (instrument.violin? || instrument.viola?) %>
<%= render :partial => "part", :locals => {:form => form, :instrument => instrument} %>
<hr>
<% end %>
