<h2>Elective Selection</h2>
<p>Hover over elective name for more information</p>
<%= form_tag "/ensembles/elective_evaluation" do %>
<table>
<%= render partial: "elective_choice", collection: @electives %>
</table>
<%= submit_tag 'Submit' %>
<% end %>
