/* Global styles */

input:disabled
{
background:white;
}

/************************   Flash Notice, Page Banner, and Page Body Consistent Across Pages */

#main {
	background-image: url('/assets/notesbg.gif');
	background-color: LightSalmon;
	border: 3px solid black;
	width: 850px;
	height: 775x;
}

#main-wider {
	background-image: url('/assets/notesbg.gif');
	background-color: LightSalmon;
	border: 3px solid black;
	width: 1000px;
}

#reg-form-main {
	width: 95%;
	padding: 10px;
}

#login-main {
	background-image: image-url('notesbg.gif');
	background-color: #fff;
	border: 1px solid black;
	width: 50%;
}

#main-notice {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 2em;
  background-color: #f0f0f0;     
  font: bold smaller sans-serif;
  text-align: center;
}

#form-errors {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 2em;
  background-color: #f0f0f0;     
  font: bold smaller sans-serif;
}
/* END:notice */

#main-banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font-family: "Times New Roman", serif;
  font-size: larger; 
  color: #282;
  text-align: center;
  margin-bottom: 20px;
}

/*********************** Nav column -- not on the reg form, but on the index and admin pages */

#left-nav {
 float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 14em;
  background: #141;
}

/***************** Login form */

#login-container {
  width: 75%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

/*********************** Registration index page  */

#reg-index {
	font-size: large;
}

#reg-index-table {
  border: 2px solid black;
  width: 100%;
}

#reg-index-banner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-align: center;
}

.bordered {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.larger {
	font: xx-large;
}

/*********************** Admin index page  */

#admin-index {
	font-size: large;
}

#admin-index-table {
  border: 2px solid black;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#admin-index-banner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-align: center;
}

/*********************** Admin reports page   */

.space-below {
   margin-bottom: 9px
}

.border-below {
   border-bottom: 2px solid black;
}

.admin-reports {
  border-bottom: "2px solid black"

  .contact {
    display: none;
  }
  .evaluation-form .reg-form-section-title, .reg-form-section-title.chamber-form {
    background-color: DarkSeaGreen;
    text-align: left;
    border: none;
  }

}
/*********************** Registration form (reg and login)  */

#reg-form-container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}

#reg-form-left {
  vertical-align: top;
  float: left;
  width: 180px;
}

#reg-form-banner {
	background-color: DarkSeaGreen;
	font-variant: small-caps;
	text-align: center;
	font-size: large;
	font-weight: bold;
	padding: 5px;
}

.reg-form-section {
	width: 100%;
	padding: 3px;
}

.reg-form-section-title {
	text-align: center;
	font-size: larger; 
	font-weight: bold;
	font-variant: small-caps;
	background-color: White;
	color: Black;
	border-bottom: 1pt solid;
	padding: 4pt;
}

.reg-form-column {
	vertical-align: top;
	background-color: DarkSeaGreen;
	padding: 6px;
	font-family: sans-serif;
	font-size: smaller;
}

.reg-form-unpadded-column {
	vertical-align: top;
	background-color: DarkSeaGreen;
	padding: 0px;
	font-family: sans-serif;
	font-size: smaller;
}

.filled-in-field {
	background-color: White;
	border: 1px solid;
	padding-left: 10pt;
	padding-right: 10pt;
	margin-top: 5pt;
}

.reg-form-button {
	width: 80pt;
	height: 30pt;
	font-size: large;
	font-weight: bold;
}

.button-to {
	text-align: center;
}

.email-address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
}

input.bigcheck {
	width: 15px;
	height: 15px;
}

input.bigradio {
	width: 15px;
	height: 15px;
}	
/**************************/

/* Styles for the cart in the main page and the sidebar */

.reg-form-charge-list {
	background-color: DarkSeaGreen;
	font-variant: small-caps;
	/*	font-size: smaller;	*/
	/*  	color:     white; */
}

.cart-title {
  font: 120% bold; 
}

.item-price, .total-line {
  text-align: right;	
}

.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

/* END:cart */

/*****************************************/

#confirm-page {
	width: 85%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}


#confirm-page-summary {
	width: 85%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 10px;
}
	
#confirm-page-table {
	width: 75%;
	align: right;
	margin-left: auto;
	margin-right: auto;
}

.confirm-page-banner {
	font-weight: bold;
	font-size: larger;
	text-align: center;
	margin: 20px;
}

.confirm-page-email {
	text-align: center;
	margin: 20px;
}

.confirm-page-text {
	font-weight: bold;
	font-size: medium;
}

#confirm-page-continued {
	width: 75%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 10px;
}

.confirm-item-name {
}

.confirm-item-price {
	text-align: right;
	padding-left: 30px;
}

.confirm-deposit {
}

.confirm-total {
	text-align: right;
}

.confirm-total-label {
	font-weight: bold;
	font-variant: small-caps;
	font-size: -1;
}

.confirm-total-cell {
  font-weight: bold;
  border-top: 1px solid #595;
  padding-left: 30px;
  text-align: right;
}

.confirm-deposit-cell {
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 30px;
  text-align: right;
}

#confirm-page-deposit-row {
	border: 2px solid black;
}

.address {
	padding: 10pt;
	font-size: smaller;
}

.reg-index-email {
	font-family: Arial, Helvetica, sans-serif;
	color: Blue;
	font-size: small;
	text-align: right;
}

/*************************** Admin pages  ***********************/

#admin-banner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-align: center;
}

#reg-list-table {
	border: 2px solid black;
	#padding: 8px;
}

.reg-list-table-heading-cell {
	
	font-family: Arial;
	font-size: smaller;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	border: 2px solid black;
	padding: 3px;
}

.reg-list-line-summary-cell {
	font-size: smaller;
}

.reg-list-table-body {
	text-align: left;
}

table{border-collapse:collapse;}

tr.reg-list-row {
	height: 25px;
	padding: 0px;
}

tr.reg-list-row td{
	border-width:1px;
	border-style:solid;
	border-color:black;
}

.reg-list-row-button {
	font-size: 9px;
	width: 55px;
	height: 17px;
}

/*  Confirm page  */

.confirm-link {
	border-width:1px;
	border-style:solid;
	border-color:black;
	margin-left: auto;
	margin-right: auto;
}


/* Filled-in registration form */


.reg-view-table {
	border: 2px solid black;
	padding: 8px;
	text-size: larger;
}

.reg-view-attribute-regular {
	font-weight: bold;
}

.reg-view-attribute-emphasized {
	font-weight: bold;
	color: red;
}


.reg-view-value {
	font-family: "Courier New";
	padding: 10px;
}

.attribute-yes {
	font-weight: bold;
	color: green;
}

.attribute-no {
	font-weight: bold;
	color: red;
}

/* Registration line summary */

.reg-line-summary-attribute-regular {
	font-weight: bold;
}

.reg-line-summary-attribute-emphasized {
	font-weight: bold;
	color: red;
}

.larger-font {
  font-size: 1.2em;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.two-third-column {
  width: 66%;
}
.one-third-column {
  width: 33%;
  margin-right: 1%;
}
.indented-top {
  margin-top: 5px;
}
.with-background {
	background-color: DarkSeaGreen;
  padding: 5px;
  box-sizing: border-box;

  ul {
    margin: 0px;
  }
}
ul.sortable-electives {
  padding: 10px 0px;

  li {
    list-style-type: none;
    margin: 4px 4px 2px;
    border: 1px solid #666;
    padding: 3px;
    background-color: DarkSeaGreen;
    box-shadow: 3px 3px 1px #888888;

    .remove {
      font-size: 1.2em;
      font-weight: bold;
      cursor: pointer;
      color: red;

    }
  }
  li {
    cursor: row-resize;
  }
  li.placeholder {
    box-shadow: -3px -3px -1px #888888;
    padding-top: 20px;
    text-align: center;
    height: 30px;
    border: 1px dashed #666;
    cursor: inherit;
  }
}
#choosen-electives {
  .instrument {
    display: block;
  }
}
#aviliable-electives {
  .instrument {
    display: none;
  }

  li.indented-top {
    margin-top: 0px;
  }

  li {
    cursor: move;

    &.ui-draggable-disabled {
      cursor: inherit;
    }
  }
  .remove {
    display: none;
  }
}
.elective-evaluations {
  label, .label {
    font-weight: bold;
  }

  .label {
    margin-bottom: 5px;
    font-size: 1.1em
  }

  .indented-top {
    margin-top: 15px;
  }

  .skill-description {
    padding: 0px 12px 0px 12px;
    height: 70px;

    p {
      margin: 0px;
    }
  }

  ul.checkboxes-list {
    margin: 0px;
    padding-left: 0px;

    li {
      list-style-type: none;
      margin: 2px 0;
    }
  }
}

table.eval-table {
  width: 65%;
  border: 2px solid black;
  border-spacing: 5px 15px;
}

table.eval-table th {
  border-bottom: thin solid black;
}

table.eval-table td {
  text-align: center;
}

.pseudolink {
   color: blue;
   text-decoration: underline;
}
